div.website-container{

    h1{
        text-align: center;
        margin: 4rem;
    }

    div.lendingCardWrapper{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;

        margin: 2rem 2rem;
        margin-bottom: 4rem;
        flex-wrap: wrap;
        

        div.lenderCard{
            margin-bottom: 1rem;
            width: 340px;
        }
    }

    @media (max-width: 576px) {
        h1{
            text-align: left;
            margin: 2rem;
        }
    
        div.lendingCardWrapper{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
    
            margin: 2rem 2rem;
            flex-wrap: wrap;
            
    
            div.lenderCard{
                margin-bottom: 1rem;
                width: 100%;
            }
        }
    }
}

.credit-table-finbit-new {
    border-radius: 5px;
    margin-bottom: 30px;
  
    table {
      width: 100%;
  
      thead {
        background: #fff;
        color: #000;
        font-weight: 700;
  
        th {
          padding: 20px 9px;
        }
  
        th:first-child {
          font-weight: 700;
        }
      }
  
      tbody {
        tr:nth-child(even) {
          background-color: #ECEBFF;
        }
  
        td {
          padding: 7px !important;
          vertical-align: middle !important;
        }
  
        tr {
          .table-icon {
            border: 0;
            padding: 0;
            background-color: transparent;
  
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  