$size-XL : 24.75px;
$size-L : 18px;
$size-M : 15.75px;
$size-S : 13.5px;

main.popupBlocked{
    padding: 10px;
    text-align: center;

    padding-top: 5rem;
    
    h3{
        padding: 24px 0 10px 0;
        font-weight: 700;
        font-size: $size-L;
        line-height: 19px;

        color: #EA6B0C;
    }

    div.msg{
        padding: 16px 12px;

        background: #FAE1CD;
        border-radius: 10px;

        font-size: $size-M;
        line-height: 22px;
    }
}